{% extends "layout.html.twig" %}
{% block content %}
    <div class="one_main about">
        <div class="header">Статичные страницы</div>
        <table class="items-list">
            <tr class="gray">
                <td class="item-name"><a href="/admin/about/edit" class="edit-item-link">О нас</a></td>
                <td class="item-edit"><a href="/admin/about/edit" class="edit-project project-action edit-item-link">Редактировать</a></td>
                <td class="item-delete"></td>
            </tr>
        </table>
    </div>
{% endblock %}